@page
@model Gaines_Opus_Institute_Current.Pages.PagesLoggedIn.IndexModel
@{
    Layout = "_layout2";
}

<div id="infoPageContainer"> 

    <div id="sectionOne">

        <div id="S1C1">
            <div id="S1T1C"><p id="S1T1"></p></div>
            <div id="S1T2C"><p id="S1T2"></p></div>
            <div id="S1T3C"><p id="S1T3"></p></div>
        </div>

    </div>

    <div id="sectionTwo">

        <div id="S2C1">
            <div id="S2T1C"><p id="S2T1"></p></div>
            <div id="S2T2C"><p id="S2T2"></p></div>
            <div id="S2T3C"><p id="S2T3"></p></div>
        </div>

    </div>

    <div id="sectionThree">

        <div id="S3C1">
            <div id="S3T1C"><p id="S3T1"></p></div>
            <div id="S3T2C"><p id="S3T2"></p></div>
            <div id="S3T3C"><p id="S3T3"></p></div>
        </div>

    </div>

</div>