@page
@model Gaines_Opus_Institute_Current.Pages.PagesLoggedIn.IndexModel
@{
    Layout = "_layout2";
}

<div id="infoPageContainer"> 

    <div id="sectionOne">

        <div id="S1C1">
            <div id="S1T1C"><p id="S1T1">How Credits Work</p></div>
            <div id="S1T2C"><p id="S1T2"></p></div>
            <div id="S1T3C"><p id="S1T3">On your student calendar, you may view all upcoming lessons and purchase new lessons with any teacher. Once you have successfully purchased credits, you may view the calendar of available time slots on your home page when logged in. Every teacher we have tailors a curiculum to you specifically for you to reach your goal in the time span you desire. Once you have purchased a lesson, you will receive a notification with the teacher, time, and class location by email to join for your scheduled lesson. Be in the correct class room at the correct time and if any issues arise, contact admin or staff on the discord. All forms of contact are through discord.</p></div>
        </div>

    </div>

    <div id="sectionTwo">

        <div id="S2C1">
            <div id="S2T1C"><p id="S2T1">About company and teachers</p></div>
            <div id="S2T2C"><p id="S2T2"></p></div>
            <div id="S2T3C"><p id="S2T3"></p></div>
        </div>

    </div>

    <div id="sectionThree">

        <div id="S3C1">
            <div id="S3T1C"><p id="S3T1">Policy</p></div>
            <div id="S3T2C"><p id="S3T2">To understand details about canceled or missed lessons, teachers, credits, visit our <a id="policyInfoLink">policy page.</a> </p></div>

        </div>

    </div>

</div>