@page
@model Gaines_Opus_Institute_Current.Pages.PagesLoggedIn.IndexModel
@{
    Layout = "_layout2";
}

<div id="infoPageContainer"> 

    <div id="sectionOne">

        <div id="S1C1">
            <div id="S1T1C"><p id="S1T1">Credit Functionality</p></div>
            <div id="S1T2C"><p id="S1T2"> Once logged in, your home page will have a calendar displaying your available time slots. One credit coresponds to one thirty-minute lesson. Once you have scheduled a lesson, you will receive a notification with the teacher, time, and class location by email for you to access your scheduled lesson. Be in the correct class location at the correct time and if any issues arise, contact admin or staff through discord. All forms of contact are through discord.</p></div>
        </div>

    </div>

    <div id="sectionTwo">

        <div id="S2C1">
            <div id="S2T1C"><p id="S2T1">Company and Teachers</p></div>
            <div id="S2T2C"><p id="S2T2"></p> This company's focus is the organization and speediness of lessons. Online lessons should be fast and reliable on demand. The offered solution is to have lesson slot ready for clients to select. Other online tutoring platforms require clients to wait hours, sometimes even days, for teachers or admins to respond and schedule your time and price of lessons. On this platform, all lessons are the same value and the scheduling process is simple, fast, and easy. Every teacher tailors a curiculum to you specifically, to reach your goal in the time span you desire.</div>
        </div>

    </div>

    <div id="sectionThree">

        <div id="S3C1">
            <div id="S3T1C"><p id="S3T1">Policy</p></div>
            <div id="S3T2C"><p id="S3T2">To understand details about canceled or missed lessons, teachers, credits, visit our <a id="policyInfoLink" asp-page="/TermsAndPolicy">policy page.</a> </p></div>

        </div>

    </div>

</div>