@page
@model Gaines_Opus_Institute_Current.Pages.PricingModel
@{
}

@* Pricing Page *@
<div id="payment-content">
    <div id="payment-wrap">
        <form method="POST">
            <div id="payment-section1"><p><b>Pricing Plans</b></p></div>

            <div id="payment-section2">

                <div id="card1">

                    <div id="card1-heading"><p>Start</p></div>
                    <div id="card1-price"><p><b>Free</b></p> </div>
                    <div id="card1-content"><p>On sign up, you get a free class. </p></div>
                    <div id="card1-button-container"><button id="card1-button" name="PriceOption" value="price_1LD9QEHj2B2Quz91AgDKcCy8">Sign Up</button></div>

                </div>

                <div id="card2">

                    <div id="card2-heading"><p>Newbie</p></div>
                    <div id="card2-price"><p><b>$24.99</b></p> </div>
                    <div id="card2-content"><p>1 Credit</p></div>
                    <div id="card2-button-container"><button id="card2-button" name="PriceOption" value="price_1LGu2IHj2B2Quz91pkEIGg4P">Order Now</button></div>

                </div>

                <div id="card3">

                    <div id="card3-heading"><p>Beginner</p></div>
                    <div id="card3-price"><p><b>$80</b></p> </div>
                    <div id="card3-content"><p>4 Credits <br /> +1 Free</p></div>
                    <div id="card3-button-container"><button id="card3-button" name="PriceOption" value="price_1LGu5hHj2B2Quz91P5Nq4whp">Order Now</button></div>

                </div>

                <div id="card4">

                    <div id="card4-heading"><p>Intermediate</p></div>
                    <div id="card4-price"><p><b>$160.99</b></p> </div>
                    <div id="card4-content"><p>10 Credis</p></div>
                    <div id="card4-button-container"><button id="card4-button" name="PriceOption" value="price_1LGu7MHj2B2Quz919QcxKQZf">Order Now</button></div>

                </div>

            </div>

            <div id="payment-section3"><p><b>Low Price Guarantee</b></p></div>

            <div id="payment-section4"><p>We match prices. Contact admin on the discord if you would like to price match.</p></div>

            <div id="payment-section5">
                <div id="card5">

                    <div id="card5-heading"><p>Experienced</p></div>
                    <div id="card5-price"><p><b>$450</b></p> </div>
                    <div id="card5-content"><p>25 Credits</p></div>
                    <div id="card5-button-container"><button id="card5-button" name="PriceOption" value="price_1LGu8kHj2B2Quz91TGuZ1sFZ">Order Now</button></div>

                </div>

                <div id="card6">

                    <div id="card6-heading"><p>Advanced</p></div>
                    <div id="card6-price"><p><b>$500</b></p> </div>
                    <div id="card6-content"><p>30 Credits</p></div>
                    <div id="card6-button-container"><button id="card6-button" name="PriceOption" value="price_1LGuDbHj2B2Quz9105weIkq4">Order Now</button></div>

                </div>

                <div id="card7">

                    <div id="card7-heading"><p>Expert</p></div>
                    <div id="card7-price"><p><b>$519.99</b></p> </div>
                    <div id="card7-content"><p>50 Credits</p></div>
                    <div id="card7-button-container"><button id="card7-button" name="PriceOption" value="price_1LGu9xHj2B2Quz91oToDEiP3">Order Now</button></div>

                </div>

                <div id="card8">

                    <div id="card8-heading"><p>Master</p></div>
                    <div id="card8-price"><p><b>$999.99</b></p> </div>
                    <div id="card8-content"><p>100 Credits</p></div>
                    <div id="card8-button-container"><button id="card8-button" name="PriceOption" value="price_1LGuAmHj2B2Quz917KwcLEqX">Order Now</button></div>

                </div>
            </div>
        </form>
    </div>
</div>




