@page
@model Gaines_Opus_Institute_Current.Pages.AccessDeniedModel
@{
}
<div style="height: 100px;">

</div>

<div>
    <h1>Access Denied</h1>
    You Don't have access to the page you are looking for.
    Please redirect back to page. 
</div>