@page
@model Gaines_Opus_Institute_Current.Pages.indexHome.contactModel
@{
}

@{
    ViewData["Title"] = "Contact";
}

@* Contact Page*@
<div id="contactContent">
    <div id="contact-container">
        <div id="contact-section1"> 
            <p id="section1-title1">All contact is through Discord.</p>
                <hr class="hr"/>
            <p id="section1-title2">Join to meet your new friends and teachers</p>
        </div>
         <div id="contact-discord-button-container"><a href="https://discord.gg/VaCYxyPZxr" id="contact-discord-button"><b>Discord</b></a></div>
    </div>
</div>