@page
@model Gaines_Opus_Institute_Current.Pages.successModel
@{
}

<div>
    <h1>Success!</h1>
   You have successfully complete the action.
    Please redirect back to the <a asp-page="Index">home page</a>.
</div>