@page
@model Gaines_Opus_Institute_Current.Pages.TermsAndPolicyModel
@{
}

<div id="termsPage">
    <div style="height: 100px;"></div>
    <h2 class="termsH">POLICIES: </h2>
    <p class="termsP">Dear Gaines Opus Institute’s students

    If at the time you need assistance or have any questions, please feel free to contact the Director through a private message. </p>
    <br />

    <h2 class="termsH">PHOTOGRAPHS, AUDIO, VIDEO, AND PROMOTIONAL MATERIALS</h2>
    <p class="termsP">Please note that Gaines Opus Institute, may from time to time photograph or do video recordings of students during class, shows, or around the discord from advertising and promotional purposes. Gaines Opus institute will own the copyright of its photographs and video recordings and may publish them in any medium.</p>
    <br />

    <h2 class="termsH">ATTENDANCE AND MAKE-UP POLICIES</h2>
    <p class="termsP">The student must notify the institute 24 hours before the scheduled class to qualify for a make-up  lesson, otherwise, the student will be charged for that lesson and the teacher will be paid. In the event that the student does not show up to the lesson or the student does not cancel the lesson in the required time, this will be counted as a NO SHOW and the teacher will record a make-up video lesson with the contents he/she had prepared for that day. This video lesson will be sent as a link in the clients discord direct message within 48 hours of the scheduled lesson. If cancellation was done on time and a make-up lesson is issued; Gaines opus institute can not guarantee that the lesson will be taught by the student’s chosen instructor. The same attendance and make-up policy applies to make-up lessons, in the event a recorded video lesson will be sent by the instructor who had the make-up lesson scheduled. 
    </p>
    <br />

    <h2 class="termsH">MAKE-UP CLASSES </h2>
    <p class="termsP">Make-up lessons can only be scheduled during the course of active membership or plan. A student must be enrolled and the account must be active to receive Make-up lessons. Make-up lessons may not be used to extend a membership once membership is expired. Make-up lessons can be assigned only once. Make up lessons DO NOT qualify for re-scheduling. If a student needs to cancel or cannot show up for a make-up lesson, no make-up lesson or refund will be given for the not attended make-up lesson. A video lesson recorded by the teacher who was scheduled for the make-up lesson will be sent to the client in the client's discord direct message within 48 hours after the scheduled make-up lesson. 
    </p>
    <br />

    <h2 class="termsH">LESSON CANCELLATION AND OUR 100% CREDIT POLICY</h2>
    <p class="termsP">Cancellations don’t apply to lessons scheduled within 24 hours of the lesson. A 24 hours cancellation notice is required to qualify for a make-up lesson. If you need to cancel your class, direct a message to discord to one of the staff to talk to someone from the admin department and process the cancellation. These are the ONLY valid methods for canceling classes. Email cancellations, talking to your instructor about it, and/or calls to our other phone lines are NOT accepted mediums for canceling. In the event the class is not canceled in the required timeframe, the lesson will be marked as a NO SHOW. *Remember NO SHOWS don’t qualify for make-up classes.* We guarantee you will always, 100% of the time, have your credits recognized: If cancellation is done on time, you will qualify for a make-up lesson. If cancellation is not done on time, you will get a personalized video lesson recorded by the teacher explaining the content prepared for that day. This will ensure that you will get the materials for all of the lessons that you paid for. 
    </p>
    <br />

    <h2 class="termsH">CREDITS AND TRANSFER</h2>
    <p class="termsP">Credits can not be transferred between students and/or family members. Credits can be used only towards classes for the same student who has the credits in his/her account. Credits cannot be refunded or exchanged for currency.
    </p>
    <br />

    <h2 class="termsH">TEACHER ATTENDANCE</h2>
    <p class="termsP">Gaines Opus Institute is proud of recurring accomplished musicians who perform professionally. While this allows us to have talented instructors, occasionally they may be absent due to their performance schedules or for other reasons. If this occurs, Gaines Opus Institute will return the used credits to the client. 
    </p>
    <br />

    <h2 class="termsH">OFF-SITE EVENTS</h2>
    <p class="termsP">Occasionally, Gaines Opus Institute holds events such as band performances offsite. It is the responsibility of students to provide transportation to such events unless otherwise notified. Gaines Opus Institute is not liable for any personal injury or property damage arising as a result of the student’s participation in an off-site activity. 
    </p>
    <br />

    <h2 class="termsH">PAPERLESS RECEIPTS AND NOTIFICATIONS </h2>
    <p class="termsP">All payment receipts will be sent directly to your email so you can keep them organized. We are fully paperless. You can also review, print, and download your documents by logging in to your personal (insert software name) student’s account. 
    </p>
    <br />

    <h2 class="termsH">DM POLICY NOTIFICATION</h2>
    <p class="termsP">Gaines Opus Institute often sends reminders of important appointments , event details, surveys, and exclusive promotions by discord direct messaging using automated technology or directly by a person. You may receive up to 4 messages a month. Message and data rates may apply. You can always respond STOP to any text message to unsubscribe from our message notifications. 
    </p>
    <br />

    <p class="termsP">
    Gaines Opus Institute reserves the right to dismiss any student due to frequent absences, disciplinary problems, overdue tuition payments and/or parental noncompliance with the school’s policies.
    For students beginning mid-month, the tuition will be pro-rated and then the monthly tuition will start on the 1st of the following month. 
    A registration fee of $40 per student ($65 per family) is non-refundable and due at time of registration, or re-registration. This fee is paid annually per academic year.

    Students must be willing to occasionally purchase materials necessary for lessons. This includes lesson books, sheet paper and recordings of music. All materials are at the discretion of the teacher.
    </p>
    <br />

    <h2 class="termsH">PAPERLESS RECEIPTS AND NOTIFICATIONS </h2>
    <p class="termsP">All payment receipts will be sent directly to your email so you can keep them organized. We are fully paperless.</p>
    <br />

    <h2 class="termsH">
    ACTS OF ACADEMIC DISHONESTY</h2>
    <p class="termsP">Academic dishonesty, including plagiarism, cheating, and collusion undermines the college’s educational mission and students’ personal and intellectual growth. Students are expected to bear individual responsibility for their work and to uphold the ideal of academic integrity. Any student who attempts to compromise or devalue the academic process will be held accountable for their actions.
    </p>
    <br />

    <h2 class="termsH">A. PLAGIARISM</h2>
    <p class="termsP">Plagiarism is the act of presenting another person’s ideas, research, or writing as one’s own. Examples include:

    Copying another person’s actual words without both the use of quotations and documentation. 

    Presenting another person’s ideas or theories in one’s own words without documentation.

    Using information that is not considered common knowledge without acknowledging the source. 

    Using a paper writing “service” or having a friend write the paper.

    Note: The guidelines that define plagiarism also apply to information secured on web sites. Internet references must specify precisely where the information was obtained and where it can be found.

    Students may think that citing another author’s work will lower their grade. In some unusual cases this may be true, if the instructor has indicated that a student must write a paper without reading additional material. But in fact, as students progress in their studies, students will be expected to show that they are familiar with important work in their field and can use this work to further their thinking. The key to avoiding plagiarism is for students to clearly show where their own thinking ends and someone else’s begins.
    </p>
    <br />

    <h2 class="termsH">B. CHEATING</h2>
    <p class="termsP">Cheating is the attempted or unauthorized use of materials, information, notes, study aids, devices or communication during an academic exercise. Examples include (but are not limited to):
    </p>
    <br />

    <h2 class="termsH">I. TESTS AND EXAMS:</h2>
    <p class="termsP">Copying from another student during an examination or allowing another to copy your work.
    Using unauthorized notes during a closed book examination.
    Using unauthorized devices, software, websites or apps during an examination.
    Asking or allowing another student, or anyone else, to take an examination for you.
    Changing a corrected exam and returning it for more credit.
    Preparing answers or writing notes in a blue book (exam booklet) before an examination.
    Taking an examination for another student.
    Taking an examination or any examination material out of an examination room at any time without the expressed permission of the instructor who created that examination.

    We reserve the right to update or modify these policies at any time and without prior notice unless a material change is made; in which case we will notify you through the email you have on file. Your use of our services following any such change constitutes your agreement to follow and be bound by the policies as changed.</p>
    <br />

</div>